.chat {
  display: flex;
  flex-direction: column;
  flex: 0.7;
}

.chat-header {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

.chat-header-info {
  flex: 1;
  padding-left: 20px;
}

.chat-header-info > h3 {
  margin-bottom: 3px;
  font-weight: 500;
}

.chat-header-info > p {
  color: gray;
}

.chat-body {
  flex: 1;
  background-image: url("./bg.png");
  background-repeat: repeat;
  background-position: center;
  background-color: #e5ddd5;
  padding: 30px;
  overflow: scroll;
}

.chat-message {
  position: relative;
  font-size: 16px;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 30px;
}

.chat-receiver {
  margin-left: auto;
  background-color: #dcf8c6;
}

.chat-timestamp {
  margin-left: 10px;
  font-size: xx-small;
}

.chat-name {
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: xx-small;
}

.chat-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid lightgrey;
}

.chat-footer > form {
  flex: 1;
  display: flex;
}

.chat-footer > form > input {
  flex: 1;
  border-radius: 30px;
  outline-width: 0;
  padding: 10px;
  border: none;
}

.chat-footer > form > button {
  display: none;
}

.chat-footer > .MuiSvgIcon-root {
  padding: 10px;
  color: gray;
}
