.sidebar-chat {
  display: flex;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
}

a {
  text-decoration: none;
  color: black;
}

.sidebar-chat:hover {
  background-color: #ebebeb;
}

.sidebar-chat-info > h2 {
  font-size: 14px;
  margin-bottom: 8px;
}

.sidebar-chat-info {
  margin-left: 15px;
}
