.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.3;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid lightgrey;
}

.sidebar-header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}

.sidebar-header-right > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px !important;
}

.sidebar-search {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 39px;
  padding: 10px;
}

.sidebar-search-container {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 35px;
  border-radius: 20px;
}

.sidebar-search-container > .MuiSvgIcon-root {
  color: grey;
  padding: 10px;
}

.sidebar-search-container > input {
  border: none;
  outline-width: 0;
  margin-left: 10px;
}

.sidebar-chats {
  flex: 1;
  background-color: white;
  overflow: scroll;
}
